<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Recomended Websites</li>
              <li><a href="http://www.espn.com" target="_blank">ESPN</a></li>
              <li><a href="http://www.rotoworld.com" target="_blank">Rotoworld</a></li>
              <li><a href="http://www.fangraphs.com" target="_blank">Fan Graphs</a></li>
              <li><a href="http://www.fangraphs.com" target="_blank">Fan Graphs</a></li>
              <li><a href="http://bleacherreport.com/">Bleacher Report</a></li>
              <li class="nav-header">Collumnists</li>
              <li><a href="http://espnmediazone.com/us/bios/berry_matthew/">Matthew Berry</a></li>
              <li><a href="http://search.espn.go.com/christopher-harris">Christopher Harris</a></li>
              <li><a href="http://sports.yahoo.com/author/andy-behrens/">Andy Behrens</a></li>
              <li><a href="http://twitter.com/adamlevitan">Adam Levitan</a></li>
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>The Fantasy Sports Stop</h1>
            <p></p><p></p>
            <p> Welcome to The Fantasy Sports Stop, your one stop for everything fantasy sports related on the web. </p>
            
          </div>
          <div class="row-fluid">
            <div  class="span4" >
              <h2><a href="admnIndex">Admins Main Page</a></h2>
              <p><a class="btn btn-primary btn-Large" id="adminInfo">View details &raquo;</a></p>
              <div class="toggleA">
              	<p id="aitext">Our Page!!! These are the posts that we feel are useful, and we control everything, so you better like them.</p>
			  </div>
            </div><!--/span-->
            <div class="span4">
              <h2><a href="promotedIndex">Expert Users Page</a></h2>
              
              <p><a class="btn btn-primary btn-Large" id="euInfo">View details &raquo;</a></p>
               <div class="toggleE">
              	<p id="eutext">This page only uses posts from users that we have identified as knowledgable due to your constant liking of their posts. Basically, these guys know what is up.</p>
			  </div>
            </div><!--/span-->
            <div class="span4">
              <h2><a href="regularIndex">General Users Page</a></h2>
              
              <p><a class="btn btn-primary btn-Large" id="guInfo">View details &raquo;</a></p>
               <div class="toggleG">
              	<p id="gutext">This page uses posts from everyone. Feel free to take a crack at making your own post. Maybe you make enough popular ones youll be promoted to an Exper User!</p>
			  </div>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">

          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
